body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff
}

@media (max-width: 991px) {
    #title{
        text-align: center;
    }
    
    .title-image{
        position: static;
        transform: rotate(0); 
    }
    
}

.container-fluid{
    padding: 3% 15% 7%; 
}

h1{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h2{
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    

}

h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5;
   
}


/* NAVIGATION BAR */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: bolder;
    
}

/* BUTTONS */
.download-button{
    margin: 5% 3% 5% 0;
}

/* TITLE IMAGE */

.title-image{
    width:20%;
    transform: rotate(25deg);
    position: absolute;
    
   
       
}



/* FEATURE SECTION */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    

}

.feature-row{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68
}


/* TESTIMONIALS */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.dog-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.human-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

    /* PRESS */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-style{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* PRICING SECTION */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-table{
    padding: 3% 2%;
}

/* CTA AREA */

#cta {
    color:#fff;
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;   
}

.dog-true-love{
    font-size: 3rem;
}

.button-pad{
    margin: 50px 15px;
}

#footer{
    
    text-align: center;
    padding: 50px 50px;
    
}

.uicon{
    padding: 30px 8px;
}
